html { font-size: 62.5%; background: linear-gradient(120deg, #fff, rgb(182, 182, 182));}
* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  --dark-grey: #202020;
  --dark-blue: #003848;
  --dark-purple: #171367;
  --light-cyan: #d8f0f8;
  --cyan: #70b8d0;
}
a { color: inherit; text-decoration: none; display: inline-block;}
section { padding: .5rem;}
.clear { clear: both; }


/* Containers
************************************************************** */
.container { 
  max-width: 900px; margin: auto;
  
}
.content_container { 
  background-color: white;
  max-width: 80vw; height: 80vh; 
  margin: 10vh auto;
  border-radius: .5rem;
  box-shadow: black 10px 15px 20px;
  padding: 1rem;
}

/* Main Section
*************************************************************** */
section#name {
  color: white;
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  text-shadow: black 8px 7px 10px;
  margin-left: -.2rem;
  text-align: center;
}
section#portfolio_logo .portfolio_image {
  width: 100%; height: 50px;
  margin: auto;
  background-image: url(../img/portfolio_logo_web@1000.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#type-writer-text-effect {
  font-size: 1.5rem;
  text-align: center;
}
section#type-writer-text-effect p#hello_world {
  font-weight: bolder;
  margin-bottom: 1rem;
}
section#type-writer-text-effect p#job_title {
  font-size: 1.25rem;
}

/* Enter Button */

section.enter_btn {
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}
section.enter_btn span {
  font-size: 2.25rem;
  font-family: Impact;
  font-weight: bolder;
}


/* Mobile Settings Portrait
*************************************************************** */
@media(max-width: 550px)
{
  .content_container { 
    max-width: 80vw; height: 80vh; 
    margin: 5vh auto;
  }
  section#name {
    font-size: 1.5rem;
    letter-spacing: .5rem;
    font-weight: 100;
    text-shadow: black 4px 4px 5px;
  }

  section#type-writer-text {
    font-size: 1.1rem;
  }

}

/* Mobile Settings Landscape
*************************************************************** */
@media(max-height: 500px) 
{
  .content_container { 
    padding: .5rem;
  }
  section#name {
    color: white;
    font-size: 1rem;
    letter-spacing: .5rem;
    font-weight: lighter;
    text-shadow: black 5px 5px 7px;
    text-align: center;
  }
  section#portfolio_logo .portfolio_image {
    width: 75%; height: 100px;
  background-image: url(../img/portfolio_logo_web@500.jpg);
  }
  
  
}