/* Global Setting */
* { margin: 0 auto; padding: 0; border:0; }
a { text-decoration: none; color: white; }
ul { list-style: none; }
p { line-height: 1.2em; }


/* Containers */
.container { width: 90%; overflow: hidden; }

body {
    width: 100%;
    color: white;
    background-color: #0f0c1b;
    font-family: 'Roboto', sans-serif;
}
/* Containers End */
  

/* Index Page */
.background {
background: url('../img/background.jpg') no-repeat;
width: 100%;
min-height: 1200px;
padding-top: 250px;
}
.test {
background-color: rgba(0,255, 255, 0.2);
font-size: 50px;
padding: 50px;
text-align: right;
border-top: solid 6px #3100ff;
border-bottom: solid 3px #65bf40;
}
/*  Index Splash Page Ends */



/* Main-header */
.main-header {
  width: 100%;
  padding: 20px 0;
  background-color: #3100ff;
  border-bottom: 3px solid #65bf40;
  text-align: center;
}

/* Main-header End*/



/* Navigation Menu */
.nav-box ul {
  width: 100%;
  background-color: gray;
  text-align: center;
}
.nav-box ul li {
  display: inline-block;
  padding:15px;
}
.nav-box ul li a {
  font-weight: bold;
}
.handle-menu {
  width: 100%;
  color:yellow;
  background-color: #005c48;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
}


.coming_soon {
  color: black;
  background-color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid lightgray;
}





/**************  Mobile Settings  **************/
@media(max-width:700px) {
 
  /*  Index Splash Page */
  .test {
    font-size: 30px;
    text-align: center;
  }
  /*  Index Splash Page Ends */
  
  /* 700 end */
}



@media(max-width:460px) {

  .test {
    font-size: 20px;
    text-align: center;
  }


  .main-header {
    width:100%;
    float: none;
    text-align: center;
  }

  /* Navigation Bar */
  
  .nav-box ul li {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #555;
  text-align: left;
  }
  .nav-box ul li:hover {
    background-color: darkkhaki;
  }
  .handle-menu{
    display: block;
  } 
  .show-menu {
    max-height: 20em;
  }




  /* 460 End */
}