html { font-size: 62.5%; }
* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  --dark-grey: #202020;
  --dark-teal: #164c58;
  --dark-blue: #003848;
  --dark-purple: #171367;
  --light-cyan: #d8f0f8;
  --cyan: #70b8d0;
}
body { background-color: var(--dark-grey) }
a { color: inherit; text-decoration: none; display: inline-block;}
section { padding: .5rem;}
.clear { clear: both; }
main { background-color: white; }


/* Containers
************************************************************** */
.top_container { height: 15vh;}

.screen_container { 
  max-width: 900px; margin: auto; 
}
.content_container { 
  max-width: 80%; margin: auto;
  border-radius: .5rem;
  box-shadow: black 10px 15px 20px;
  padding: 1rem;
}

/* Summary Page
*************************************************************** */

header#summary_main_header {
  display: inline-block;
  width: 55%; height: 4rem;
  color: white; background-color: var(--dark-teal);
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

header#summary_main_header p#portfolio {
  display: block;
  float: left;
  margin: 12px 20px;
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: .7rem;
  -webkit-text-fill-color: var(--dark-grey);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightcyan;
  border: 1px dotted lightcyan;
  border-bottom: 5px solid lightcyan;
}
header#summary_main_header span {
  -webkit-text-fill-color: lightcyan;
  font-weight: bolder;
}
nav#main_nav {
  width: 45%;
  float: right;
  color: white; background-color: var(--dark-teal);
  font-size: .8rem;
  word-spacing: 2rem;
  padding: 1.39rem 1rem;
  text-align: right;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
nav#main_nav ul {
  list-style-type: none;
  margin-top: 3px;
}
nav#main_nav li {
  display: inline-block;
}


/* Projects Page
*************************************************************** */


/* Tablet Settings
*************************************************************** */
@media(max-width: 750px)
{
  header#summary_main_header,
  nav#main_nav,
  .content_container
  {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    margin: auto;
  }
  header#summary_main_header p#portfolio {
    text-align: center;
  }
  nav#main_nav {
    background-color: var(--dark-blue);
    padding: .5rem 0;
    border-top: 1px solid lightskyblue;
  }

}


