html { font-size: 62.5%; }
:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc( .8rem + 1vw);
  line-height: 1.4em;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
a { color: inherit; text-decoration: none; display: inline-block; }
img { width: 100%; display: inline-block;}

label, textarea { display: block; }
input, button { border: none;}
svg { width: 100px; margin: 0 auto;}
label { margin: .5em 0; }

[type="text"],
[type="email"] {
  font-size: 1rem;
  padding: .5em;
}
[type="submit"]:focus,
[type="text"]:focus,
[type="email"]:focus,
[name="message"]:focus {
  outline: 3px solid darkorange;
}

[name="message"] {
  width: 100%;
}


/* Containers
 ********************************************************* */
.rwd-container { 
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
}

.active { 
  color: orange; 
  border-bottom: 2px solid darkorange;
}

.btn {
  display: inline-block;
  color: white; background-color: darkorange;
  font-size: 1rem;
  padding: .5em 1em;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgb(179, 99, 2);
}

.dark-content {
  color: white; background-color: #444444;
  padding: 1em;
}
.light-content { 
  border: 1px solid #444444;
  padding: 1em;
}
.black-content {
  color: whitesmoke; background-color: #444444;
  padding: 1em;
  border-radius: .5em;
}



/*  Header Section
****************************************************** */
.header-main{
  width: 100%;
  color: white; background-color: #444444;
  padding: 1em;
  border-bottom: 3px solid darkorange;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-main-logo-container {
  width: 12em;
  color: white; background-color:darkorange;
  text-align: center;
}
.header-main-logo-text {
  color: white;
  text-align: center;
  padding: .5em 0;
  border: white 1px solid;
}
.header-main-logo-acme {
  color: #555555;
  font-weight: 900;
}
.header-main-nav {
  flex: 1 1 50%;
}
.header-main-nav ul {
  display: flex;
  justify-content: flex-end;
}
.header-main-nav li {
  list-style-type: none;
  margin-right: 2em;
}
.header-main-nav li:last-child {
  margin-right: 0em;
}


/*  Footer Section
*******************************************************/
footer {
  color: white; background-color: darkorange;
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}



/*  Company Intro
****************************************************** */
.company-intro {
  width: 100%;
  min-height: 40vh;
  color: white;
  background-image: url(../img/bg1@700.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  padding: 1em;
}
.company-intro-title {
  text-align: center;
  font-size: 1.75rem;
  padding: 1rem 0;
  line-height: 1.5;
}


/*  Newsletter Sign-in
****************************************************** */
.newsletter {
  color: white; background-color: #444444;
  padding: 1em;
}
.newsletter  h3 {
  text-align: center;
  text-transform: uppercase;
}
.newsletter-form {
  margin: 1em auto;
  text-align: center;
}



/*  3 columns Experiences
****************************************************** */
.three-columns {
  width: 100%;
  padding: 1em;
  border: 1px solid black;

  display: flex;
  justify-content: space-around;
}
.column {
  width:  30%;
  border: 1px solid black;
  text-align: center;
}
.three-columns-images-caption {
  color: white; background-color: black;
  padding: .5em;
}
.social {
  padding: 1em;
}



/*******************************************************
* About Us Page
********************************************************/
.main {
  display: flex;
  justify-content: space-between;

  margin: .5em auto; 
}
.about-us,
.what-we-do {
  width: 48%;
  margin: 0 .5em;
}





/*******************************************************
* Services Section
********************************************************/
.services__services-prices-box {
  border: 1px solid #444444;
  margin: .5em;
  padding: 1em;
  font-size: .8rem;
  border-radius: .5em;
}

.services__quote-form {
  border: 1px solid #444444;
  padding: 1em;
  margin: .5em;
}
.services__quote-btn {
  margin-top: 1em;
}






/*******************************************************
* Medium Size Devices
********************************************************/
@media (max-width: 550px) {
  .header-main-logo-container {
    width: 100%;
  }
  .header-main-nav {
    flex: 1 1 100%;
    margin-top: 1em;
  }
  .header-main-nav ul {
    justify-content: space-evenly;
  }
  .header-main-logo-text {
    font-size: 1.5rem;
  }
  .newsletter-form [type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
  [type="text"],
  [type="email"],
  [name="message"] {
    width: 100%;
}

/* About Us Page */
.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    margin: 1em 0;
  }
  .about-us-title,
  .what-we-do-title {
  text-align: center;
  }
  .about-us,
  .what-we-do {
    width: 95%;
  }
  .about-us {
    margin-bottom: 1em;
  }

  .services__quote-btn {
    margin-left: 30vw;
  }

  /* Mobile  END */
} 


/* Small Devices
*********************************************************/
@media(max-width: 400px) {
  .three-columns {
    flex-flow: column wrap;
  }
  .column {
    width: 100%;
    margin: 1em 0;
  }
  .three-columns-images-caption {
    font-size: 1.5rem;
  }
}